//----Fonts----//

$prime-font: 'GothaProBol', sans-serif;
$secondary-font: 'GothamPro', sans-serif;
$third-font: 'Roboto', sans-serif;
$main-font: 'MyriadPro-Regular', sans-serif;





$adv-font: $prime-font;
$descr-font: $third-font;


//----Color---//

$color-gray: #202020;
$color-gray-light: #6d6963;



$heading-color:  $color-gray;
$content-color:  $color-gray-light;	




