
@media screen and (max-width: 1400px) { 
		.container {
			padding: 0 15px;
		}		
		.advertisement__descr {
			& h1 {
				width: 45%;
				font-size: 50px;

			}
		}

		.business {
			& a {
			    display: inline-block;
			    width: 40%;
			} 
			
			&__box {
		   		width: 100%;
			} 

			& .container {
				justify-content: space-around;
			} 
		}

	

		
}


@media screen and (max-width: 1218px) {
			.menu-slim {
				display: block;
			}
		
		  	.nav-media {
		  		display: none;
		  	}

		  	.advertisement {
				& .container {
					justify-content: center;
				}

		  		&__descr {
					text-align: center;
					& h1 {
						width: 100%;
						font-size: 32px;

					}

		  		}


					
		}
}







@media screen and (max-width: 992px) { 
	
	.advertisement {
		& p {
			font-size: 12px;
		}

		&:before {
			display: none;
		}

	}
	.business{
		& .text-wrap {
			margin-top: 1.5em;
			margin-left: 2.5em;
		}

		& h1 {
			font-size: 1rem;
		}

		& p {
			font-size: 0.8rem;
			margin-top: 0px;
		}
		
		&:after {
			display: none;
		}

		&-lg {
			display: none;
		}

		&__box {
			height: 11em;

		}
	}
	
	.antirewind{
		display:none;
	}

	.toggle-sm {
		display: block;
	}

}


@media screen and (max-width: 576px) { 
	.header {
		&__logo {
		  display: block;
	      position: relative;
	      left: 60%;
	      transform: translateX(-50%);
			& img {
				width: 61%;
	    		height: auto;
			} 
			&--menu img {
				width: 61%;
	    		height: auto;
			} 
		}

		&--output {
			margin-bottom: 5.2rem;
		} 
	}



	.advertisement {
		& h1 {
			font-family: $prime-font;
			font-size: 3.2rem;
		    letter-spacing: -0.8px;
		    line-height: 1.2;
		}

		& p {
			font-family: $third-font;
			font-size: 1.2rem;
			margin-top: 2.7em;
			margin-bottom: 3em;
		}

		&__descr {
			width: 100%;
		}
	}

		.business{
			& .text-wrap {
				margin-left: 15px;
			}

			&__box {
				height: 6rem;

				& :hover p {
					margin-top: 0.2rem;
				}
			}

			

		
	}
		.menu-js-toggle {
			right: 0;
		}

		.menu-slim {
			right: 0;
		}

		.menu-slim:before, .menu-slim:after {
			width: 23px;
		}

			.toggle-sm a {
				font-weight: 600;
			}

			.icon--arrow {
			    top: 3rem;
			    font-size: 2rem;
			}
}
	








